* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
}
:root {
  --main-btn-blue: #0075ff;
  --second-color: #888;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #eee;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ============================== */
.our_page {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.mainNav {
  max-width: 250px;
}
@media (max-width: 768px) {
  .mainNav {
    max-width: 80px;
  }
}

.mainNav .title {
  padding: 20px 0 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.mainNav .title::before,
.mainNav .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}
.mainNav .title::before {
  width: 12px;
  height: 12px;
  background-color: black;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mainNav .title::after {
  width: 100px;
  height: 2px;
  background-color: black;
  z-index: -1;
}
@media (max-width: 768px) {
  .mainNav .title::before,
  .mainNav .title::after {
    display: none;
  }
}
.mainNav .links {
  margin: 40px 30px;
}
.mainNav .links li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 30px 10px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.mainNav .links li a {
  display: flex;
  justify-content: left;
}
.mainNav .links li.active {
  background-color: #f6f6f6;
}
.mainNav .links li:hover {
  background-color: #f6f6f6;
}
.mainNav .links i {
  font-size: 15px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .mainNav .links li span {
    display: none;
  }
}
/* ============================================ */
/*   header */

.sectinos {
  width: 100%;
}
.sectinos .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
}
.sectinos .header .inp {
  position: relative;
}
.sectinos .header .inp i {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #ccc;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.sectinos .header .inp input {
  background-color: transparent;
  border: 1px solid #ccc;
  width: 130px;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
.sectinos .header .inp input:focus {
  width: 160px;
}
@media (max-width: 768px) {
  .sectinos .header .inp input {
    width: 80px;
  }
  .sectinos .header .inp input:focus {
    width: 100px;
  }
}
.sectinos .header .inp input:focus::placeholder {
  color: transparent;
}
.sectinos .header .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectinos .header .right span {
  margin-right: 20px;
  position: relative;
}

.sectinos .header .right span::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sectinos .header .right img {
  width: 35px;
}

/* end header */
/* ==================================== */
.sectinos .files {
  background-color: #f1f5f9;
  padding: 10px;
}
.sectinos .files > h1 {
  position: relative;
  margin: 0 10px 5px;
  padding: 25px;
}
.sectinos .files > h1::before,
.sectinos .files > h1::after {
  position: absolute;
  content: "";
  height: 4px;
  left: 30px;
  bottom: 5px;
}
.sectinos .files h1::before {
  width: 50px;
  background-color: black;
  z-index: 2;
}

.sectinos .files h1::after {
  width: 140px;
  background-color: white;
  z-index: 1;
}
.sectinos .files .our-files {
  display: grid;
  grid-template-columns: 80% 15%;
  justify-content: space-evenly;
}
@media (max-width: 1300px) {
  .sectinos .files .our-files {
    grid-template-columns: 60% 35%;
  }
}
@media (max-width: 992px) {
  .sectinos .files .our-files {
    display: flex;
    flex-direction: column-reverse;
  }
}

.sectinos .files .our-files .files-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.sectinos .files .our-files .files-content .file {
  padding: 13px 8px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sectinos .files .our-files .files-content .file i {
  color: var(--second-color);
}
.sectinos .files .our-files .files-content .file .file-content img {
  width: 60px;
  margin-bottom: 15px;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}
.sectinos .files .our-files .files-content .file:hover img {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}
.sectinos .files .our-files .files-content .file .file-content {
  text-align: center;
  margin-top: 10px;
}
.sectinos .files .our-files .files-content .file .uploaded {
  border-bottom: 1px solid var(--gray-color);
  padding: 10px 0;
  color: var(--second-color);
  font-size: 13px;
}
.sectinos .files .our-files .files-content .file .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.sectinos .files .our-files .files-content .file .footer p {
  color: var(--second-color);
  font-size: 13px;
}
.sectinos .files .our-files .files-statics {
  background-color: white;
  padding: 20px 15px;
  height: 500px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
}

.sectinos .files .our-files .files-statics h2 {
  margin-bottom: 10px;
}
.sectinos .files .our-files .files-statics .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--gray-color);
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sectinos .files .our-files .files-statics .box .box-content {
  display: flex;
  align-items: center;
}

.sectinos .files .our-files .files-statics .box .box-content i {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 20px;
}
.sectinos .files .our-files .files-statics .box .box-content .pdf {
  background-color: rgb(0 117 255 / 20%);
  color: var(--main-btn-blue);
}
.sectinos .files .our-files .files-statics .box .box-content .image {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}
.sectinos .files .our-files .files-statics .box .box-content .word {
  background-color: rgb(244 67 54 / 20%);
  color: var(--red-color);
}
.sectinos .files .our-files .files-statics .box .box-content .csv {
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
}
.sectinos .files .our-files .files-statics .box .count,
.sectinos .files .our-files .files-statics .box .size {
  color: var(--second-color);
}
.sectinos .files .our-files .files-statics .box .box-content .type {
  margin-bottom: 5px;
}
.sectinos .files .our-files .files-statics .box p {
  font-size: 13px;
}
.sectinos .files .our-files .files-statics button {
  width: fit-content;
  display: block;
  margin: 30px auto;
  outline: none;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--main-btn-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.sectinos .files .our-files .files-statics button i {
  color: white;
  margin-right: 5px;
}

@keyframes uploadicone {
  0% {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  100% {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
  }
}

.sectinos .files .our-files .files-statics button:hover i {
  animation: uploadicone 0.8s infinite alternate;
  -webkit-animation: uploadicone 0.8s infinite alternate;
}
.sectinos .files .our-files .files-statics button:hover {
  background-color: #0359bc;
}
