* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
}
:root {
  --main-btn-blue: #0075ff;
  --second-color: #888;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #eee;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ============================== */
.our_page {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.mainNav {
  max-width: 250px;
}
@media (max-width: 768px) {
  .mainNav {
    max-width: 80px;
  }
}

.mainNav .title {
  padding: 20px 0 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.mainNav .title::before,
.mainNav .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}
.mainNav .title::before {
  width: 12px;
  height: 12px;
  background-color: black;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mainNav .title::after {
  width: 100px;
  height: 2px;
  background-color: black;
  z-index: -1;
}
@media (max-width: 768px) {
  .mainNav .title::before,
  .mainNav .title::after {
    display: none;
  }
}
.mainNav .links {
  margin: 40px 30px;
}
.mainNav .links li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 30px 10px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.mainNav .links li a {
  display: flex;
  justify-content: left;
}
.mainNav .links li.active {
  background-color: #f6f6f6;
}
.mainNav .links li:hover {
  background-color: #f6f6f6;
}
.mainNav .links i {
  font-size: 15px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .mainNav .links li span {
    display: none;
  }
}
/* ============================================ */
/*   header */
.sectinos {
  width: 100%;
}
.sectinos .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
}
.sectinos .header .inp {
  position: relative;
}
.sectinos .header .inp i {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #ccc;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sectinos .header .inp input {
  background-color: transparent;
  border: 1px solid #ccc;
  width: 130px;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
.sectinos .header .inp input:focus {
  width: 160px;
}
.sectinos .header .inp input:focus::placeholder {
  color: transparent;
}
.sectinos .header .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectinos .header .right span {
  margin-right: 20px;
  position: relative;
}

.sectinos .header .right span::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sectinos .header .right img {
  width: 35px;
}
.sectinos .profile {
  background-color: #f1f5f9;
  padding: 10px;
}
.sectinos .profile > h1 {
  position: relative;
  margin-left: 5px;
  padding: 25px;
}
.sectinos .profile > h1::before,
.sectinos .profile > h1::after {
  position: absolute;
  content: "";
  height: 4px;
  left: 30px;
  bottom: 5px;
}
.sectinos .profile h1::before {
  width: 50px;
  background-color: black;
  z-index: 2;
}

.sectinos .profile h1::after {
  width: 140px;
  background-color: white;
  z-index: 1;
}
/* end header */

.sectinos .profile .cards {
  display: grid;
  grid-template-areas:
    "information  information information  information information information "
    "skills     activities          activities  activities   activities   activities ";
  margin: 15px 10px;
}
@media (max-width: 1200px) {
  .sectinos .profile .cards {
    grid-template-areas:
      "information  information information  information information information "
      "skills       skills          skills      skills     skills         skills "
      "  activities    activities   activities activities activities activities ";
  }
}

#informations {
  grid-area: information;
}
#skills {
  grid-area: skills;
}
#activities {
  grid-area: activities;
}
.card {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  padding: 25px;
  margin-bottom: 20px;
  background-color: white;
}
.card:last-of-type {
  margin-left: 20px;
}
@media (max-width: 992px) {
  .card:last-of-type {
    margin-left: 0px;
  }
}
.card > .special-head h2 {
  margin-bottom: 20px;
}
.card > .special-head p {
  color: var(--second-color);
  margin-bottom: 15px;
}

label .toggle-checkbox {
  appearance: none;
}
label .toggle-switch {
  margin-bottom: 15px;
  background-color: #ccc;
  width: 78px;
  height: 25px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
label .toggle-switch:before {
  font-family: "fontawesome";
  content: "\f00d";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--main-btn-blue);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 50px;
  content: "\f00c";
  color: var(--main-btn-blue);
}
/* 
============================== */
#informations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#informations .name {
  padding: 30px 50px;
  margin-top: 20px;
  text-align: center;
  border-right: 2px solid var(--gray-color);
}
@media (max-width: 1200px) {
  #informations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  #informations .name {
    border-right: none;
    padding: 0;
  }
}
#informations .name img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

#informations .name h3 {
  margin-bottom: 15px;
}
#informations .name .progress {
  background-color: var(--gray-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 6px;
  margin-bottom: 15px;
}
#informations .name .progress span {
  display: block;
  background-color: var(--main-btn-blue);
  width: 75%;
  height: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#informations .name .stars {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#informations .name .stars i {
  color: gold;
}
#informations .name p {
  color: var(--second-color);
  margin-bottom: 20px;
}
.informations {
  width: 100%;
}
.informations .info {
  padding: 5px 18px;
}
@media (max-width: 992px) {
  .informations .info {
    text-align: center;
  }
}
.informations .info:not(:last-child) {
  border-bottom: 2px solid var(--gray-color);
}
.informations .info h4 {
  margin: 10px 0;
}
.informations .info h4,
.informations .info p {
  color: var(--second-color);
}
.informations .info .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 992px) {
  .informations .info .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.informations .info .content div {
  display: flex;
  justify-content: space-between;
}
.informations .info .content div p {
  margin-right: 10px;
  font-size: 13px;
}
.informations .info .content div span {
  margin-right: 60px;
}
@media (max-width: 992px) {
  .informations .info .content div p {
    margin-right: 10px;
    font-size: 13px;
  }
  .informations .info .content div span {
    margin-right: 0px;
  }
  .informations .info .content div {
    margin-bottom: 10px;
  }
}

/*==============================  */
/* skills */
#skills .my-skills {
  border-bottom: 2px solid var(--gray-color);
  display: flex;
}
#skills .my-skills p {
  width: fit-content;
  background-color: var(--gray-color);
  padding: 10px 15px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin: 10px 8px 10px 0;
}
@media (max-width: 992px) {
  #skills {
    text-align: center;
  }
  #skills .my-skills {
    justify-content: center;
  }
}
/*==============================  */
/* activities */
#activities .box {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#activities .box .place {
  display: flex;
  justify-content: center;
  align-items: center;
}
#activities .box .place img {
  margin-right: 16px;
}
#activities .box .txt h4 {
  margin-bottom: 15px;
}
#activities .box p {
  color: var(--second-color);
}
#activities .box .time p {
  margin-top: 15px;
}
#activities .box .time {
  text-align: end;
}
#activities .box img {
  width: 60px;
}
#activities .box:not(:last-child) {
  border-bottom: 2px solid var(--gray-color);
}
@media (max-width: 992px) {
  #activities {
    text-align: center;
    flex-direction: column;
  }
  #activities .box,
  #activities .box .place {
    flex-direction: column;
  }
  #activities .box .time {
    text-align: center;
    margin-top: 10px;
  }
  #activities .box .place img {
    margin: 0 0 10px;
  }
}
