* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: black;
}
:root {
  --main-btn-blue: #0075ff;
  --second-color: #888;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #eee;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ============================== */
.our_page {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.mainNav {
  max-width: 250px;
}
@media (max-width: 768px) {
  .mainNav {
    max-width: 80px;
  }
}

.mainNav .title {
  padding: 20px 0 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.mainNav .title::before,
.mainNav .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}
.mainNav .title::before {
  width: 12px;
  height: 12px;
  background-color: black;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.mainNav .title::after {
  width: 100px;
  height: 2px;
  background-color: black;
  z-index: -1;
}
@media (max-width: 768px) {
  .mainNav .title::before,
  .mainNav .title::after {
    display: none;
  }
}
.mainNav .links {
  margin: 40px 30px;
}
.mainNav .links li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 30px 10px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.mainNav .links li a {
  display: flex;
  justify-content: left;
}
.mainNav .links li.active {
  background-color: #f6f6f6;
}
.mainNav .links li:hover {
  background-color: #f6f6f6;
}
.mainNav .links i {
  font-size: 15px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .mainNav .links li span {
    display: none;
  }
}
/* ============================================ */
/*   header */
.sectinos {
  width: 100%;
}
.sectinos .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
}
.sectinos .header .inp {
  position: relative;
}
.sectinos .header .inp i {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #ccc;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sectinos .header .inp input {
  background-color: transparent;
  border: 1px solid #ccc;
  width: 130px;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
.sectinos .header .inp input:focus {
  width: 160px;
}
.sectinos .header .inp input:focus::placeholder {
  color: transparent;
}
.sectinos .header .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectinos .header .right span {
  margin-right: 20px;
  position: relative;
}

.sectinos .header .right span::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sectinos .header .right img {
  width: 35px;
}
.sectinos .settings {
  background-color: #f1f5f9;
  padding: 10px;
}
.sectinos .settings > h1 {
  position: relative;
  margin-left: 5px;
  padding: 25px;
}
.sectinos .settings > h1::before,
.sectinos .settings > h1::after {
  position: absolute;
  content: "";
  height: 4px;
  left: 30px;
  bottom: 5px;
}
.sectinos .settings h1::before {
  width: 50px;
  background-color: black;
  z-index: 2;
}

.sectinos .settings h1::after {
  width: 140px;
  background-color: white;
  z-index: 1;
}
/* end header */

.sectinos .settings .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  gap: 30px;
  margin: 15px 10px;
}
@media(max-width:768px){
  .sectinos .settings .cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  
 }
}
.card {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  padding: 25px;
  background-color: white;
}
.card > .special-head h2 {
  margin-bottom: 20px;
}
.card > .special-head p {
  color: var(--second-color);
  margin-bottom: 15px;
}

label .toggle-checkbox {
  appearance: none;
}
label .toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
label .toggle-switch:before {
  font-family: "fontawesome";
  content: "\f00d";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--main-btn-blue);
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 50px;
  content: "\f00c";
  color: var(--main-btn-blue);
}

/* start Site-Control */

#site-control .web-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#site-control .web-control .txt p:first-of-type {
  font-weight: 500;
}
#site-control .web-control .txt p:last-of-type {
  color: var(--second-color);
  margin-top: 10px;
}

#site-control textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid var(--gray-color);
  padding: 15px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#general-info form {
  display: flex;
  flex-direction: column;
}
#general-info form label {
  color: var(--second-color);
  margin-bottom: 10px;
}
#general-info form input {
  margin-bottom: 10px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: 1px solid var(--gray-color);
}
#general-info form input::placeholder {
  color: var(--second-color);
}
#general-info form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#general-info form div input {
  width: 80%;
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
#general-info form div button {
  background-color: transparent;
  border: none;
  color: var(--main-btn-blue);
  font-size: 20px;
}
/* ===================================== */
/* start security-info  */
#security-info .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#security-info .box h4 {
  margin-bottom: 15px;
}
#security-info .box:nth-child(2) button,
#security-info .box:last-child button {
  color: white;
  border: none;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#security-info .box:nth-child(2) button {
  background-color: var(--main-btn-blue);
}
#security-info .box:last-child button {
  color: black;
}
#security-info .box:nth-child(3) {
  border-top: 2px solid var(--gray-color);
  border-bottom: 2px solid var(--gray-color);
  padding: 15px 0;
  margin: 20px 0;
}

#security-info .box p {
  color: var(--second-color);
}
/* end security-info  */
/* =========================================== */
/* start social-info */

#social-info .inp input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
}
#social-info .inp i {
  background-color: #f6f6f6;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 37px;
  border: 1px solid #ddd;
  border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -ms-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#social-info .inp {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#social-info .inp input:focus + i {
  color: black;
}

/* end social-info */
/* start Widgets Control */

#widgets-control .check {
  margin-bottom: 10px;
  margin-left: 30px;
}
#widgets-control .check input {
  appearance: none;
}
#widgets-control .check label {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

#widgets-control .check label::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: -35px;
  background-color: white;
  transition: 0.5s;
  border: 3px solid var(--main-btn-blue);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#widgets-control .check label:hover::before {
  border-color: var(--red-color);
}
#widgets-control .check label::after {
  content: "\f00c";
  font-family: "fontawesome";
  display: flex;
  position: absolute;
  bottom: -1px;
  left: -35px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-btn-blue);
  color: white;
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#widgets-control .check input:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* end Widgets Control */
/* start backup-manager */

#backup-manager .radio {
  margin: 10px;
  display: flex;
  align-items: center;
}

#backup-manager .radio label {
  cursor: pointer;
  font-size: 18px;
}
#backup-manager .radio input[type="radio"] {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
#backup-manager .servers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid var(--gray-color);
  padding-top: 20px;
  margin-top: 50px;
}

#backup-manager .servers .server {
  position: relative;
  text-align: center;
  padding: 15px 40px;
  border: 2px solid var(--gray-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 768px) {
  #backup-manager .servers {
    flex-direction: column;
    justify-content: space-between;
  }
  #backup-manager .servers .server {
    margin-bottom: 10px;
    width: 100%;
  }
}

#backup-manager .servers .server label {
  cursor: pointer;
}

#backup-manager .servers .server i {
  margin: 10px 0 10px;
}

#backup-manager .servers input[type="radio"] {
  appearance: none;
}
#backup-manager .servers input[type="radio"]:checked + .server {
  border-color: var(--main-btn-blue);
}
#backup-manager .servers input[type="radio"]:checked + .server i,
#backup-manager .servers input[type="radio"]:checked + .server p {
  color: var(--main-btn-blue);
}

/* end backup-manager */
